.dream .hero {
	background-color: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/templates/dream/students.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 450px;
	padding: 60px;
	text-align: center;
}

.dream .hero>h1 {
	color: #fff;
	font-size: 3em;
	font-weight: 800;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
}

.dream .content,
.dream footer {
	background-color: #d8d8d8;
	padding: 60px 0;
}

.dream .content-highlight {
	background-color: #fff;
	max-width: 700px;
	padding: 30px;
	margin: 0 auto 60px auto;
	box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	text-align: center;
}

.dream .hero>p {
	margin-top: 20px;
}

.dream .content-item-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 300px;
}

.dream .content-item--left.study {
	background-image: url(../images/templates/dream/study.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.dream .content-text {
	display: flex;
	width: 100%;
	align-items: center;
	background-color: #fff;
	padding: 30px;
}

.dream .content-text h2 {
	margin-bottom: 15px;
}

.content-item--right.university {
	background-image: url(../images/templates/dream/university.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.dream .content-item--left.grad {
	background-image: url(../images/templates/dream/grad.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.dream footer {
	padding: 0 0 1px 0;
}

@media screen and (max-width: 991px) {
	.dream .content-item-grid {
		height: auto;
	}

	.dream .content-item-grid,
	.dream .content-text,
	.dream .content-item {
		display: block;
		width: 100%;
	}

	.dream .content-item--left.study,
	.dream .content-item--left.grad,
	.dream .content-item--right.university {
		height: 200px;
	}

	.dream .content-item {
		margin-bottom: 30px;
	}

	.dream .content {
		padding: 30px 15px;
	}

	.dream footer {
		padding: 0;
	}

	.dream footer .content-highlight {
		margin: 0;
		box-shadow: none;
		border-radius: 0;
	}
}