.form-item {
	display: grid;
	grid-template-columns: 350px 1fr;
	margin-bottom: 20px;
}

.panel.panel-step.hidden {
	display: none;
}

.third-party-form-item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	margin-bottom: 10px;
}

.third-party-form-item .btn {
	border-radius: 0;
}

.third-party-form-url {
	display: block;
	background-color: #eee;
	height: 34px;
	padding: 9px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #888;
}