* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background-color: #e4e4e4;
  font-size: 16px;
  margin: 0;
  padding: 75px 0 30px 0;
  transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 10px 0;
  color: #333;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1em;
  line-height: 1.3;
}

.division {
  margin: 40px 0;
  display: block;
  width: 100%;
}

input,
select,
textarea {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #bbb;
  font-size: 14px;
  height: 34px;
  padding: 0 10px;
  outline: none;
  width: 100%;
}

textarea {
  height: auto;
  min-height: 34px;
  max-height: 150px;
  padding: 5px 10px;
  resize: vertical;
}

input:focus,
select:focus,
textarea:focus {
  background-color: #fff;
  border: 1px solid #00b0f0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  max-height: 15px;
  vertical-align: middle;
  width: auto;
}

input[type="radio"] {
  margin: 0 5px 3px 0;
  vertical-align: middle;
}

.input-box {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

.input-box:last-child {
  margin-bottom: 0;
}

.input-box>label {
  margin-bottom: 5px;
  display: block;
}

button,
.btn {
  align-items: center;
  background-color: #efefef;
  border-radius: 3px;
  border: 1px solid #bbb;
  display: inline-flex;
  color: #333;
  cursor: pointer;
  height: 34px;
  outline: none;
  padding: 0 10px;
  text-decoration: none;
  max-width: 100%;
}

button.btn-theme,
.btn.btn-theme {
  background-color: #ff0000;
  border: 1px solid #ff0000;
  color: #fff;
}

button.btn-blue,
.btn.btn-blue {
  background-color: #00b0f0;
  border: 1px solid #00b0f0;
  color: #fff;
}

button.btn-green,
.btn.btn-green {
  background-color: #12bc58;
  border: 1px solid #12bc58;
  color: #fff;
}

.btn-danger {
  background-color: #d02c2c;
  border: 1px solid #d02c2c;
  color: #fff;
}

.btn.btn-sm {
  height: 26px;
  padding: 0 5px;
  font-size: .7em;
}

.btn.btn-lg {
  padding: 14px;
  height: auto;
  font-size: 1.2rem;
}

.btn.btn-rounded {
  border-radius: 100px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn[contentEditable] {
  border: 2px solid transparent;
}

button:active {
  filter: brightness(0.9);
}

label {
  color: #00b0f0;
  font-size: 12px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.text-link {
  color: #333;
}

.text-link:hover {
  color: #5d2aaf;
}

.grid {
  display: grid;
}

.grid.grid-two {
  grid-template-columns: repeat(2, 1fr);
}

.grid.grid-three {
  grid-template-columns: repeat(3, 1fr);
}

.grid.grid-four {
  grid-template-columns: repeat(4, 1fr);
}

.grid.gap-10 {
  grid-gap: 10px;
}

.grid.gap-15 {
  grid-gap: 15px;
}

.grid.grid-center {
  align-items: center;
}

.grid.grid-space-around {
  justify-content: space-around;
}

.grid.grid-space-between {
  justify-content: space-between;
}

hr {
  border-top: 1px solid #c0bbbb;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
  clear: both;
  width: 100%;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.color-white {
  color: #fff;
}

.loading {
  text-align: center;
  margin: 30px auto;
  width: 60px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1350px;
}

.container-fluid {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.elem-block {
  display: block;
  width: 100%;
  clear: both;
}

.text-center {
  text-align: center;
}

.bg-blue .sort-icon {
  filter: brightness(0) invert(1);
}

.bg-blue .sort-icon:hover {
  filter: brightness(0) invert(0);
}

.panel {
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}

.panel:last-child {
  margin-bottom: 0;
}

.panel-header,
.panel-body,
.panel-footer {
  padding: 15px;
  clear: both;
}

.panel-header {
  border-bottom: 1px solid #f5f5f5;
}

.panel-header .bg-blue>p {
  color: #fff !important;
}

.bg-blue,
.bg-blue>p {
  background-color: #00b0f0;
  color: #fff !important;
}

.bg-theme {
  background-color: #c7c7c7;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #cbcbcb;
}

.panel-footer {
  border-top: 1px solid #f5f5f5;
}

.logo {
  width: 100px;
}

.no-wrap {
  white-space: nowrap
}

#Notif {
  align-items: center;
  background-color: #fff;
  border-left: 3px solid tomato;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  gap: 10px;
  max-width: 250px;
  padding: 10px;
  position: fixed;
  top: 75px;
  right: 15px;
}

.Notif--icon-box {
  text-align: center;
}

.Notif--message-box>* {
  margin: 0;
}

.v-middle {
  vertical-align: middle;
}

.v-top {
  vertical-align: top;
}

.color-black {
  color: #333 !important;
}

.color-gray {
  color: #aaa;
}

.color-blue {
  color: #00b0f0;
}

.color-theme {
  color: #ff0000
}

.template-max-width {
  margin: 0 auto;
  max-width: 1085px;
}

.third-party-forms-list {
  margin: 10px -15px -10px -15px;
  border-top: 2px solid #e4e4e4;
  padding-top: 10px;
  padding-left: 13px;
  max-width: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.third-party-forms-item {
  background-color: #ffc861;
  border-radius: 100px;
  color: #333;
  font-size: .9em;
  margin-right: 3px;
  padding: 3px 10px;
  white-space: nowrap;
  transition: all .3s ease-in-out;
}

.third-party-forms-item:hover {
  background-color: #00b0f0;
  color: #fff;
}

.nogaps {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1040px) {
  body {
    font-size: 14px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .NavBar .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {

  button,
  .btn,
  input,
  select,
  textarea {
    height: 34px;
    padding: 0 6px;
  }
}

@media screen and (max-width: 736px) {
  body {
    padding-top: 55px;
  }

  .logo {
    width: 70px;
  }

  table tbody tr td .panel-body,
  .panel-header,
  .panel-body,
  .panel-footer {
    padding: 10px !important;
  }

  .division {
    margin: 20px;
  }

}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

}