.gotyoucovered {
	font-size: 16px;
}

.gotyoucovered .hero,
.gotyoucovered footer {
	background-color: #fff;
	text-align: center;
	padding: 60px 30px;
}

.gotyoucovered h1 {
	font-size: 2.6rem;
	font-weight: 800;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.gotyoucovered h4 {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.gotyoucovered .content {
	background-color: #efefef;
	padding: 60px 0;
}

.gotyoucovered .content-item {
	margin-bottom: 50px;
}

.gotyoucovered .content-item:last-child {
	margin-bottom: 0;
}

.gotyoucovered .content-item--title {
	text-align: center;
	margin-bottom: 20px;
}

.gotyoucovered .content-item-grid {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.gotyoucovered .content-item--left.help {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../../assets/images/templates/gotyoucovered/help.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 360px;
}

.gotyoucovered .content-item--right {
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.gotyoucovered .content-item--right {
	align-items: center;
	display: flex;
	height: 300px;
	padding: 60px 60px 60px 0;
}

.gotyoucovered .content-item--right>p {
	margin-left: -120px;
	font-size: 1.2rem;
	color: #fff;
	z-index: 1;
}

.gotyoucovered .content-item--left {
	background: rgb(131, 58, 180);
	background: linear-gradient(270deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.gotyoucovered .content-item--left {
	align-items: center;
	display: flex;
	height: 300px;
	padding: 60px 0 60px 60px;
}

.gotyoucovered .content-item--left>p {
	margin-right: -120px;
	font-size: 1.2rem;
	color: #fff;
	z-index: 1;
}

.gotyoucovered .content-item--right.grad {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../../assets/images/templates/gotyoucovered/graduates.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 360px;
}

.gotyoucovered .content-item--left.charity {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../../assets/images/templates/gotyoucovered/charity.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 360px;
}

@media screen and (max-width: 991px) {
	.gotyoucovered .content-item-grid {
		display: block;
	}

	.gotyoucovered .content-item--right>p,
	.gotyoucovered .content-item--left>p {
		margin: 0 auto;
	}

	.gotyoucovered .content-item--left,
	.gotyoucovered .content-item--right {
		padding: 20px 15px;
	}

	.gotyoucovered .content-item--left.help,
	.gotyoucovered .content-item--right.grad,
	.gotyoucovered .content-item--left.charity {
		padding: 0;
		height: 200px;
	}

	.gotyoucovered h1 {
		font-size: 2em;
	}
}