.HTMLTable {
  width: 100%;
  color: #333;
}

table {
  width: 100%;
}

table thead .panel-header {
  border-bottom: 0 none;
  font-weight: normal;
  min-width: 190px;
  position: relative;
  white-space: nowrap;
}

table thead .panel-header .sort-icon {
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 20px;
}

thead tr th {
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

.table-select-button {
  display: flex;
  gap: 15px;
}

.table-select-button>button {
  max-width: 60px;
}

table tbody.panel {
  box-shadow: none;
}

table tbody tr td .panel-body {
  padding: 10px 15px;
}

td {
  vertical-align: top;
}

.table-action-btns {
  display: flex;
}

.table-action-btns>button {
  margin-left: 5px;
}

.attach-form {
  margin-top: 5px;
}

.table-tr {
  position: relative;
}

@media screen and (max-width: 1040px) {
  .HTMLTable {
    padding-bottom: 10px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  table thead .panel-header .sort-icon {
    right: 5px;
    top: 8px;
    width: 17px;
  }
}