.NavBar {
	background-color: #fff;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.NavBar-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.NavBar-grid-left,
.NavBar-grid-right {
	align-items: center;
	display: flex;
}

.NavBar-grid-right {
	justify-content: right;
}

.NavBar-grid-left {
	text-align: right;
}

.right-menu-link {
	color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.right-menu-link:hover,
.right-menu-link.active {
	background-color: #ff0000;
	color: #fff;
}

.grid-left-search {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 0 20px;
}

.grid-left-search input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0 none;
}

.grid-left-search button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.grid-right-menu {
	text-align: right;
}

.right-menu-link {
	display: inline-block;
	padding: 20px 15px;
}

@media screen and (max-width: 736px) {
	.right-menu-link {
		display: inline-block;
		padding: 15px 6px;
	}

	.grid-left-search {
		padding: 0 0 0 15px;
	}

	.grid-left-search {
		display: none;
	}
}


@media screen and (max-width: 480px) {
	.NavBar-grid {
		grid-template-columns: auto 1fr;
	}
}