.Notifications-grid {
  align-items: start;
  display: grid;
  grid-template-columns: minmax(auto, 935px) minmax(300px, 400px);
  grid-gap: 15px;
}

.Notifications-form-to,
.Notifications-form-message {
  padding: 10px;
  background-color: #f1f1f1;
}

.Notifications-form,
.Notifications-form-message {
  background-color: #fff;
}

.Notifications-form-to .roles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Notifications-form-to .roles label {
  vertical-align: middle;
}

.Notifications .capsule {
  background-color: #ffc861;
  border-radius: 50px;
  color: #333 !important;
  padding: 4px 10px;
  margin-left: 5px;
}

.Notifications .capsule.bordered {
  border: 1px solid #cbcbcb;
  background-color: transparent;
}

.Notifications-entry {
  border: 1px solid #eee;
  border-top: 2px solid #4b7280;
  box-shadow: none;
}

.Notifications-entry .panel-header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: #efefef;
  color: #333;
}

.Notifications-entry .panel-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Notifications-entry img {
  max-width: 200px;
}