.Profile-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* head */
.Profile-head {
  flex-basis: 30%;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.Profile-avatar {
  width: 70%;
  display: flex;
  justify-content: center;
}

.Profile-avatar img {
  min-width: 150px;
  max-width: 200px;
}

/* Fields */
.Profile-fields {
  flex-basis: 70%;
  flex-shrink: 0;
}

.Profile-fields {
  width: 100%;
  /* background-color: aquamarine; */
}

.Profile-short-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.Profile-short-row input {
  min-width: 200px;
  flex: 1 1 0;
}

.Profile-short-row select {
  min-width: 200px;
  flex: 1 1 0;
}

.Profile-long-row {
  margin-bottom: 1rem;
}

.Profile-fields {
  padding-left: 10px;
}

.Profile-action button {
  display: inline;
  width: auto;
}