.SignUp-flex {
	align-items: center;
	justify-content: center;
	background-color: #fff;
	display: flex;
}

.SignUp-flex,
.flex-left-image {
	width: 100%;
}

.SignUp-flex-left {
	display: inherit;
	width: 70%;
}

.SignUp-flex-right {
	padding: 10px 30px;
	width: 30%;
}

.SignUp-flex-right {
	font-size: 16px;
}

.LogIn-flex {
	align-items: center;
	justify-content: center;
	background-color: #fff;
	display: flex;
}

.LogIn-flex,
.flex-left-image {
	width: 100%;
}

.LogIn-flex-left {
	display: inherit;
	width: 70%;
}

.LogIn-flex-right {
	padding: 30px;
	width: 30%;
}

.LogIn-flex-right {
	font-size: 16px;
}

.ResetPassword {
	margin: 0 auto;
	max-width: 500px;
}

@media screen and (max-width: 1040px) {

	.LogIn-flex,
	.SignUp-flex {
		display: block;
		margin: 0 auto;
		max-width: 400px;
	}

	.LogIn-flex-left,
	.LogIn-flex-right,
	.SignUp-flex-left,
	.SignUp-flex-right {
		display: block;
		width: 100%;
	}

	.LogIn-flex-right,
	.SignUp-flex-right {
		padding: 15px;
	}
}