.StatsCard {
  margin-bottom: 15px;
}

.StatsCard .panel {
  margin: 0;
}

.StatsCard-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.StatsCard-title {
  text-transform: uppercase;
  margin: 0;
  line-height: normal;
}

.StatsCard-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: inherit;
  font-size: 1.6rem;
}

.StatsCard-content {
  display: flex;
  align-items: center;
  color: #333;
}

@media screen and (max-width: 1040px) {
  .StatsCard-body {
    font-size: 1.4em;
  }

}

@media screen and (max-width: 991px) {
  .StatsCard-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 768px) {
  .StatsCard-list {
    grid-template-columns: repeat(4, 22vw);
  }

  .StatsCard-body {
    font-size: 1.2em;
  }

}

@media screen and (max-width: 736px) {
  .StatsCard-list {
    grid-template-columns: repeat(2, 48%);
  }
}