/* Subnavbar component */
.SubNavbar {
  margin-bottom: 15px;
  width: 100%;
}

.SubNavbarLink.arrow:after,
.SubNavbarLink.arrow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.SubNavbarLink.arrow:has(> a.active):before {
  border-left-color: #00b0f0;
  border-width: 10px;
  margin-top: -10px;
}

.SubNavbar-dynamic {
  background-color: #fff;
  display: flex;
  width: inherit;
}

.SubNavbar-dynamic-left,
.SubNavbar-dynamic-right {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.SubNavbar-dynamic-right {
  justify-content: flex-end;
}

.SubNavBar-common {
  align-items: center;
  display: flex;
}

.SubNavBar-common {
  justify-content: flex-end;
}

.SubNavbarLink {
  position: relative;
}

.SubNavbarLink.border-right {
  border-right: 1px solid #eaeaea;
}

/* Individual Links */
.SubNavbarLink {
  display: flex;
  justify-content: center;
  flex-direction: row nowrap;
  height: 45px;
}

.SubNavbarLink-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: .6rem .8rem;
  text-decoration: none;
  color: #999;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
}

.SubNavbarLink a.active {
  border-bottom: 0.3em solid #ff0000;
  color: #333;
}

.SubNavbarLink a:hover {
  cursor: pointer;
  border-bottom: 0.3em solid #ff0000;
}

.SubNavbarLink.arrow {
  background-color: #fff;
  color: inherit;
}

.SubNavbarLink.arrow a.active {
  border: 0 none;
  background-color: #00b0f0;
  color: #fff;
}

.SubNavbarLink-icon {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubNavbarLink-title {
  text-transform: uppercase;
}

.SubNavbar-dynamic-right .SubNavbarLink.arrow:first-child {
  border-right: 1px solid #eee;
}

@media screen and (max-width: 1030px) {
  .SubNavbar {
    margin-bottom: 5px;
  }

  .SubNavbar-dynamic {
    overflow-y: auto;
    padding-bottom: 10px;
  }

  .SubNavbar-dynamic {
    background-color: transparent;
  }

  .SubNavbar-dynamic-left,
  .SubNavbar-dynamic-right {
    background-color: #fff;
  }
}

@media screen and (max-width: 736px) {
  .SubNavbarLink-title {
    display: none;
  }

  .SubNavbarLink-icon>svg {
    height: 20px;
    width: 20px;
  }
}