.Table {
  /* padding: 0.5rem; */
  width: 100%;
  color: #333;
}

/* Table Head */
.TableHead {
  text-transform: capitalize;
  width: 100%;
  color: #fff;
  background-color: #00b0f0;
  font-weight: bold;

  /* NOTE: it is configured as grid width dynamic frs on the component */
  place-items: center;
}

.TableHead-headers {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.1rem;
}

/* Table Row */
.TableRow {
  /* NOTE: it is configured as grid width dynamic frs on the component */
  /* border: 1px solid red; */
  align-items: center;
  /* background-color: bisque; */
  border-bottom: 0.5px solid #333;
  padding: 0.8rem 1rem;
  width: 100%;
  display: grid;
}

.TableRow>*:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TableRow-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.TableRow-text {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.TableRow-text-red {
  color: #ff0000;
}

.TableRow-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.TableRow-action-dropdown {
  width: 65%;
}

.TableRow-action-button {
  width: 35%;
  font-size: 1rem;
  font-weight: bold;
}

.TableRow-action-button:hover {
  cursor: pointer;
  background-color: rgba(0, 176, 240, 0.7);
}

td {
  vertical-align: top;
}