.Templates-canvas {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-gap: 15px;
}

.templates-list {
	grid-gap: 20px;
}

.template-item {
	border: 1px solid transparent;
	margin-bottom: 20px;
	transition: all .3s ease-in-out;
}

.template-item:hover {
	box-shadow: 0 0px 10px 6px rgba(0, 0, 0, 0.073);
	border: 1px solid #00b0f0;
}

.template-image {
	width: 100%;
}

.college-graduates {
	background-color: #fff;
	margin: 0 auto;
	max-width: 1085px;
}

.college-graduates h1 {
	font-size: 2rem;
}

[contentEditable="true"] {
	border: 2px dashed transparent;
	cursor: pointer;
}

[contentEditable="true"]:hover {
	border: 2px dashed #aaa;
}

.college-graduates-header {
	display: grid;
	grid-template-columns: 40% 1fr;
}

.one-header-left {
	background-image: url("../images/utilities/template-one.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 300px;
}

.one-header-right {
	display: flex;
	align-items: center;
	padding: 20px;
	padding: 20px;
}

.college-graduates-features,
.college-graduates footer,
.college-graduates-banner {
	padding: 40px 70px !important;
}

.college-graduates-features .grid {
	margin-bottom: 30px !important;
}

.college-graduates button {
	margin: 10px 0 10px 0;
	padding: 12px 20px;
	font-size: 1.2rem;
	height: auto;
}

.college-graduates-banner {
	background-color: #d7d7d7;
	text-align: center;
	padding: 20px;
}

.one-features-title {
	margin-bottom: 30px;
	text-align: center;
}

.one-features-item {
	display: flex;
	align-items: flex-start;
	gap: 15px;
}

.college-graduates-features img {
	width: 40px;
}

.college-graduates footer {
	background-color: #212c2f;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-bottom: 50px;
}

.cfa-link {
	margin: 10px 0 0 0;
	text-decoration: none;
}

.cfa-link>a {
	text-decoration: none;
}

.editable-element {
	background-color: transparent !important;
	border: 2px dashed transparent;
	cursor: pointer;
	font-size: 16px;
	height: auto;
	resize: none;
	overflow: hidden;
	white-space: break-spaces;
}

.editable-element:hover,
.editable-element:focus,
.editable-element:active {
	color: #333 !important;
	border: 2px dashed #aaa !important;
}

.editable-element:disabled,
.editable-element:disabled:hover {
	color: #333;
	border: 2px dashed transparent !important;
}

.heading-one:focus,
.heading-one:hover,
.heading-one:disabled,
.heading-one {
	color: #00b0f0 !important;
	font-size: 1.6rem;
	font-weight: bolder;
}

.heading-three {
	font-size: 1.2rem;
}

.Landing textarea {
	cursor: initial;
}

.college-graduates textarea:disabled {
	padding: 0;
}

@media screen and (max-width: 991px) {
	.Templates-canvas {
		display: block;
	}

	.Templates-canvas-left {
		margin-bottom: 30px;
	}

	.college-graduates-header,
	.college-graduates-features .grid {
		display: block;
	}

	.college-graduates-features .grid {
		margin: 0 !important;
	}

	.college-graduates-features,
	.college-graduates footer,
	.college-graduates-banner {
		padding: 30px 15px !important;
	}
}